# Observations within the XXL-North region

This case study demonstrates how we can use a DAXA filtering method to identify all observations whose coordinate falls within a rectangular region - we apply this to the task of selecting all the XMM and Chandra observations within the XXL-North (XXL is a project utilising the largest contiguous region observed by XMM, one in the north and one in the south). 

The filtering method we demonstrate here could just as easily be applied to other wide regions of interest (the Lockman hole for example), and will work with any DAXA mission, not just XMM and Chandra.

## Import Statements

In [1]:
from astropy.coordinates import SkyCoord
from astropy.units import hourangle

from daxa.mission import XMMPointed, Chandra

## Other Tutorials

These case studies are meant to be highly specific examples of how you might acquire data for a particular science case, they do not provide general instruction on how to use DAXA missions or archives. We instead direct you to:

* [Using DAXA missions](../missions.html) - Here we explain what DAXA mission classes are and how to use them to select only the data you need.
* [Creating a DAXA archive](../archives.html) - This explains how to create an archive, load an existing archive, and the various properties and features of DAXA archives.
* [Processing telescope data](../../../tutorials.process.html) - The processing tutorials for different missions are presented here, though there may not yet be processing support for all missions.

Reading through these should give you a good understanding of how DAXA can be used to acquire, organise, and process multi-mission X-ray datasets for your specific use case.

## Defining missions

The XXL project used XMM, so we knows there will be plenty of observations of the XXL region with XMM, but we will also search for any Chandra observations that fall within the same region:

In [2]:
xm = XMMPointed()
ch = Chandra()

/Users/dt237/code/DAXA/daxa/mission/xmm.py:83: UserWarning: 140 of the 17697 observations located for this mission have been removed due to NaN RA or Dec values
  self._fetch_obs_info()

## Searching for observations

We are going to use a DAXA filtering method that allows for the selection of all observations whose central coordinate falls within a rectangle - for that search we need to define the lower-left and upper-right coordinates of the rectangular region. We define these coordinates with convention that RA increases from right-to-left (i.e. the upper-right RA is greater than the lower-left RA), but the search method can also handle rectangles that have RA increasing from left-to-right.

The coordinates we've created broadly cover the XXL-North region:

In [3]:
ll = SkyCoord("2h36m0s", -8., unit=(hourangle, 'deg'))
ur = SkyCoord("2h00m0s", -2., unit=(hourangle, 'deg'))

The `filter_on_rect_region` method is used, and we simply need to pass the corner coordinates we have already defined:

In [4]:
xm.filter_on_rect_region(ll, ur)
ch.filter_on_rect_region(ll, ur)

/Users/dt237/code/DAXA/daxa/mission/base.py:107: UserWarning: The passed corner coordinates are defined with RA increasing from right to left (upper-right RA is less than lower-left; we reversed this.
  any_ret = change_func(*args, **kwargs)

## Examining the available observations

As expected, we have selected many XMM observations - and there is also a not-insignificant number of Chandra observations.

In [5]:
xm.filtered_obs_info

,ra,dec,ObsID,start,science_usable,duration,proprietary_end_date,revolution,proprietary_usable,end
234,35.666670,-3.833333,0037980101,2002-01-11 04:21:02,True,0 days 04:12:52,2003-02-13,383,True,2002-01-11 08:33:54
235,36.000000,-3.833333,0037980201,2002-01-11 14:20:11,True,0 days 03:52:55,2003-02-13,383,True,2002-01-11 18:13:06
236,36.333330,-3.833333,0037980301,2002-01-11 23:37:59,True,0 days 03:54:31,2003-02-08,383,True,2002-01-12 03:32:30
237,36.666660,-3.833333,0037980401,2002-01-26 02:24:12,True,0 days 04:23:51,2003-02-08,390,True,2002-01-26 06:48:03
238,37.000005,-3.833333,0037980501,2002-01-25 20:51:08,True,0 days 04:53:35,2003-02-08,390,True,2002-01-26 01:44:43
...,...,...,...,...,...,...,...,...,...,...
14759,31.332917,-2.551611,0870850101,2020-07-04 21:25:41,True,0 days 10:06:40,2021-07-27,3767,True,2020-07-05 07:32:21
14778,38.402083,-5.507694,0862670101,2020-07-10 03:03:35,True,1 days 04:03:20,2021-09-17,3770,True,2020-07-11 07:06:55
14846,38.402083,-5.507722,0862670201,2020-08-16 15:57:07,True,1 days 00:03:19,2021-09-17,3789,True,2020-08-17 16:00:26
14847,38.402083,-5.507722,0862670401,2020-08-16 13:39:53,True,0 days 02:17:14,2021-09-17,3789,True,2020-08-16 15:57:07
17409,36.930375,-6.091694,0920220301,2024-01-25 15:58:15,True,0 days 06:23:20,2025-02-08,4419,False,2024-01-25 22:21:35

In [6]:
ch.filtered_obs_info

,ra,dec,ObsID,science_usable,proprietary_usable,start,end,duration,proprietary_end_date,target_category,instrument,grating,data_mode
77,31.18436,-5.09273,4129,True,True,2003-06-13 01:01:52.000003,2003-06-14 22:01:52.000003,1 days 21:00:00,2004-06-27,AGN,ACIS-I,NONE,TE_002AC
711,34.58875,-5.17417,12882,True,True,2010-09-27 04:39:01.999996,2010-09-28 04:25:31.999996,0 days 23:46:30,2011-09-29,GCL,ACIS-S,NONE,TE_0046E
886,35.04167,-6.04167,14972,True,True,2013-09-26 12:25:33.000004,2013-09-27 09:50:03.000004,0 days 21:24:30,2014-10-02,AGN,ACIS-S,NONE,TE_00AD8
891,35.02417,-5.14100,13374,True,True,2011-10-07 05:41:46.000003,2011-10-08 02:59:26.000003,0 days 21:17:40,2012-10-11,GCL,ACIS-I,NONE,TE_00AB4
913,36.68333,-4.69583,9368,True,True,2007-11-23 16:55:21.999996,2007-11-24 14:01:11.999996,0 days 21:05:50,2008-11-26,GCL,ACIS-S,NONE,TE_0046E
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17733,33.34208,-6.09800,16574,True,True,2015-08-05 17:22:51.000001,2015-08-05 18:47:21.000001,0 days 01:24:30,2016-08-06,GCL,ACIS-S,NONE,TE_0046E
17885,31.54917,-6.19300,16575,True,True,2015-06-24 05:19:51.999997,2015-06-24 06:44:01.999997,0 days 01:24:10,2016-06-25,GCL,ACIS-S,NONE,TE_0046E
18900,37.90667,-7.48181,3030,True,True,2002-09-27 23:17:28.000003,2002-09-28 00:28:18.000003,0 days 01:10:50,2003-10-03,AGN,ACIS-S,NONE,TE_002A2
19149,33.62208,-5.29569,4767,True,True,2003-11-26 16:45:20.999998,2003-11-26 17:53:30.999998,0 days 01:08:10,2004-12-01,AGN,ACIS-S,NONE,TE_002A2
20831,35.27350,-4.68375,23741,True,True,2020-12-06 12:06:00.000003,2020-12-06 12:40:20.000003,0 days 00:34:20,2021-12-07,AGN,ACIS-S,NONE,TE_004A6